@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
/*   margin: 2em; */
  <div style="text-align: right"><img src="image/your-image.png" width="100" /></div>
}

h1 {
  font-style: italic;
  color: #373fff;
}
